*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Roboto", sans-serif;

    color: #fff;
}

:root{
    --primeira-cor:#01122c;
    --segunda-cor: #001d3d;
    --terceira-cor:#003566;
    --quarta-cor:#ffd60a;
    --quinta-cor:#ffc300;
}

body{
    background: var(--primeira-cor);
    padding: 0 20px;
}


/* botoes de lugares diferentes que compartilham estilo */
.botao-link{
     background:#e6e6e62d;
    padding: 10px 40px;
    border-radius: 10px;
    border:  solid 1px ;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 1px 2px 4px;
}

.botao-link:hover{
    transform: translateY(-3px);
     box-shadow: 1px 2px 8px;
}


/* --------------------------------------------------------------- */