* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-decoration: none;
    scrollbar-width: none;
}

:root {
    --primeira-cor: #01122c;
    --segunda-cor: #001d3d;
    --terceira-cor: #003566;
    --quarta-cor: #0af7ff;
    --quinta-cor: #4b727970;
    --cor-borda: #bdbaba;
    --branco: #e2eeee;
    --cor-borda-card: #05dde950;
    --background-sections: #54565e25;
    --borda-redonda-card: 10px;
}

body {
    width: 100vw;
    background: var(--segunda-cor);
    overflow-x: hidden;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

}

/* botoes de lugares diferentes que compartilham estilo */
.botao-link {
    background: var(--quarta-cor);
    color: var(--primeira-cor);
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    font-weight: 500 !important;
    cursor: pointer;
    transition: ease-in 0.2s;
    box-shadow: 1px 2px 4px var(--quarta-cor);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.botao-link:hover {
    transform: translateY(3px);
    box-shadow: 1px 1px 4px var(--quarta-cor);
}

/* --------------------------------------------------------------- */

span,
b {
    color: var(--quarta-cor);

}



.container-cards {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    background: var(--background-sections);
    border-radius: 10px;
    border: solid 1px var(--cor-borda-card);
    position: relative;
}

.titulo-secao {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.titulo-secao h2 {
    margin-top: 5px;
    font-size: 1.5rem;
}

