.cards-tec {
    width: 100%;
    display: flex;
    overflow: auto;
    scrollbar-width: none;

}

.card__tec {
    min-width: 100px;
    color: var(--quarta-cor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 5px;
}


.card__tec h3 {
    font-size: 0.9rem !important;
}

.card__tec i {
    font-size: 2rem;
    color: var(--quarta-cor);
}



@media(min-width: 580px) {

    .card__tec i {
        font-size: 3rem;
    }

}

@media(min-width: 900px) {
    .card__tec h3 {
        font-size: 1rem !important;
    }

    .card__tec {
        min-width: 10%;
    }
}









/* cards que apenas preenche espaço só aparece quando ficar espaço vago */
.card-preenche {
    display: none;
}


@media (min-width: 490px) {
    .card-preenche {
        display: flex;
    }
}

@media (min-width: 580px) {
    .card__tec {
        width: 120px;
        height: 120px;
    }

    .cards-tec {
        grid-template-columns: repeat(4, auto);
    }
}

@media (min-width: 720px) {
    .card__tec {
        width: 160px;
        height: 160px;
    }

    .card__tec h3 {
        font-size: 1.4rem;
    }
}

@media (min-width: 1200px) {
    .card__tec {
        width: 200px;
        height: 200px;
    }
}