header {
    width: 100%;
    height: 100px;
    background: var(--primeira-cor);
    position: fixed;
    z-index: 2;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.btn-menu {
    background: transparent;
    border: none;
    font-size: 2rem;
    z-index: 3;
}

.menu {
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background-color: var(--primeira-cor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    position: absolute;
    top: 100px;
    left: -500px;
    transition: ease-in 0.5s;
}

.menu.active {
    left: 0;
}

li a {
    color: var(--branco);
}

ul li {
    width: 100%;
    list-style: none;
    padding: 10px 100px;
    border: transparent;
}

.li-contato:hover {
    border: none;
}

a {
    text-decoration: none;
}

.link-contato{
    width: 120px;
}

.logo {
    width: 200px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--quarta-cor);
    text-shadow: 0px 2px 18px var(--quarta-cor);
}

@media (min-width: 980px) {
    .btn-menu .fa-solid {
        display: none;
    }

    .menu {
        max-width: none;
        width: 100%;
        height: 100%;
        gap: 10px;
        background: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: static;
    }

    .link {
        color: var(--branco);
         padding: 5px;
         transition: ease-in .3s;
         border-bottom: solid 2px transparent;
         font-size: .9rem;
    }

     .link:hover {
        border-bottom: 2px solid;
       
    }

    .link.active {
        color: var(--quarta-cor);
        font-weight: 500;
           border-bottom: 2px solid;
           text-shadow: 1px 3px 10px var(--quarta-cor);
    }


    ul li {
        padding: 0;
        width: auto;
    }

   

}
