.hero {
    width: 95%;
    height: auto;
    border-radius: 10px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: var(--primeira-cor);
    padding: 30px 10px;
    border: solid 1px var(--cor-borda-card);
}

.div-imagem {
    background-image: url(../images/fundo-imagem.jpg);
        border: solid 2px var(--cor-borda-card);
    background-position: center;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    display: flex;
    border-radius: 500px;
    animation: anima-imagem 3s infinite;
    
}

@keyframes anima-imagem{
    0% {
        transform: translateY(0);
                box-shadow: 2px 2px 18px var(--quarta-cor);
    }
    
    50%{
        transform: translateY(10px);   
        box-shadow: 1px 2px 3px var(--quarta-cor);
     }

    100% {
        transform: translateY(0);
                        box-shadow: 2px 2px 18px var(--quarta-cor);
    }
}

.div-imagem img {
    border-radius: 300px;
    width: 100%;
    
   
}

.content-texto-hero {
    width: 100%;
    height: 250px;
}

.content-texto-hero h1 {
    font-size: 2rem;
    text-align: center;
}

.content-texto-hero span {
    text-shadow: 0px 2px 18px var(--quarta-cor);
}

.content-texto-hero h2 {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
/*  */
/* @keyframes anima-botao { */
    /* 0% { */
        /* transform: scale(1); */
    /* } */
/*  */
    /* 50% { */
        /* transform: scale(1.02); */
    /* } */
/*  */
    /* 100% { */
        /* transform: scale(1); */
    /* } */
/* } */
/*  */
.btn-baixa-cv {
    width: 300px;
    /* animation: anima-botao 1.2s infinite; */
}

.links-hero {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.caixa-botoes-rede {
    display: flex;
    align-items: center;
    gap: 20px;
}

.botao-redes {
    width: 40px;
    height: 40px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.botao-redes  i {
    border-radius: 10px;
    border: none;
    font-size: 3rem;
    color: var(--quarta-cor);
}

@media (min-width: 980px) {
    .hero {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 160px 10px;
    }
    .div-imagem {
        margin: 0;
    }

    .content-texto-hero {
        width: auto;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content-texto-hero h1 {
        font-size: 2rem;
        text-align: start;
    }

    .content-texto-hero h2 {
        text-align: end;
    }

    .links-hero {
        flex-direction: row;
        /* width: 100%; */
        justify-content: space-around;
    }
}

@media (min-width: 1480px) {
    .content-texto-hero h1 {
        font-size: 3.5rem;
        text-align: center;
    }

    .content--hero h2 {
        width: 445px;
        text-align: end;
    }
}
