.cards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 300px;
    height: 600px;
    background: var(--primeira-cor);
    border: solid 1px var(--cor-borda-card);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    /* position: relative; */
}

.card img {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}

.card img:hover {
    transform: scale(1.1);
}

.tecs-utilizada{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tecs-utilizada p{
    border: solid 1px var(--quarta-cor);
    width: 80px;
    border-radius: 10px;
    background: var(--quinta-cor);
}

.card .fa-github {
    color: var(--quarta-cor);
}

.fa-eye {
    color: var(--primeira-cor);
}

.buttons {
    width: 100%;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* position: absolute; */
    /* bottom: 10px; */
   
}

.buttons-card {
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    font-weight: 500;
}

.btn-codigo {
    border: solid 1px var(--quarta-cor);
    color: var(--quarta-cor);
    background: var(--quinta-cor);
}